body {
    color: white;
    background-color: #212121;
}

#header,
#result-div,
#btns-div,
#scoreboard-div,
.score-info {
    display: flex;
    justify-content: center;
}

#header,
#playgame-div,
#scoreboard-div {
    border: 1px solid white;
    border-radius: 0.5rem;
}

#header,
#playgame-div {
    margin-bottom: 0.5rem;
}

#playgame-div {
    padding: 2rem;
}

#result-div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#btns-div {
    gap: 10%;
}

.play-btn {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#scoreboard-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.score-info {
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    margin-bottom: 0.75rem;
}

.score-name,
.score-value {
    background-color: #303030;
    border-radius: 0.5rem;
    padding: 1rem;
}

.score-name {
    width: 10rem;
}

.score-value {
    width: 5rem;
}
