body {
    color: white;
    background-color: #212121;
    font-family: monospace;
    margin: 0;
    overflow: hidden;
}

#content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    max-width: 500px;
}

@media only screen and (max-width: 576px) {
    #content-div {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        justify-content: center;
        height: 100vh;
        max-width: 400px;
    }
}

@media only screen and (max-width: 476px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 22px;
    }

    #content-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        max-width: 300px;
    }
}

#header,
#playgame-div,
#result-div,
#btns-div,
#scoreboard-div,
.score-info,
#game-options-div,
#about-div {
    display: flex;
    justify-content: center;
}

#header,
#playgame-div,
#scoreboard-div,
#game-options-div,
#about-div {
    background-color: rgba(59, 59, 59, 0.7);
    border-radius: 0.5rem;
}

#header,
#playgame-div,
#scoreboard-div,
#game-options-div {
    margin-bottom: 0.5rem;
}

#playgame-div {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}

#result-div {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

#btns-div {
    gap: 10%;
}

.play-btn {
    cursor: pointer;
    flex-shrink: 0;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

#rock-btn {
    border: 3px solid darkred;
    background-color: red;
}

#rock-icon {
    filter: invert(9%) sepia(70%) saturate(6415%) hue-rotate(359deg) brightness(82%) contrast(111%);
}

#paper-btn {
    border: 3px solid royalblue;
    background-color: deepskyblue;
}

#paper-icon {
    filter: invert(37%) sepia(39%) saturate(6202%) hue-rotate(217deg) brightness(95%) contrast(85%);
}

#scissors-btn {
    border: 3px solid seagreen;
    background-color: springgreen;
}

#scissors-icon {
    filter: invert(44%) sepia(10%) saturate(2182%) hue-rotate(94deg) brightness(101%) contrast(96%);
}

.btn-icon {
    height: 2.5rem;
    width: auto;
}

#scoreboard-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}

.score-info {
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
}

.score-name,
.score-value {
    background-color: #3f3f3f;
    border-radius: 0.5rem;
    padding: 1rem;
}

.score-name {
    width: 9rem;
}

.score-value {
    width: 4rem;
}

#game-options-div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#about-div {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}

a {
    color: rgb(105, 180, 255);
    text-decoration: none;
}
