body {
    color: white;
    background-color: #212121;
    margin: 0;
    overflow: hidden;
}

#content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    max-width: 500px;
}

@media only screen and (max-width: 576px) {
    #content-div {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        justify-content: center;
        height: 100vh;
        max-width: 400px;
    }
}

@media only screen and (max-width: 476px) {
    html {
        font-size: 14px;
    }

    #content-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        max-width: 300px;
    }
}

#header,
#result-div,
#btns-div,
#scoreboard-div,
.score-info,
#game-options-div,
#about-div {
    display: flex;
    justify-content: center;
}

#header,
#playgame-div,
#scoreboard-div,
#game-options-div,
#about-div {
    border: 1px solid #c0c0c0;
    border-radius: 0.5rem;
}

#header,
#playgame-div,
#scoreboard-div,
#game-options-div {
    margin-bottom: 0.5rem;
}

#playgame-div {
    padding: 2rem;
}

#result-div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#btns-div {
    gap: 10%;
}

.play-btn {
    flex-shrink: 0;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

#scoreboard-div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.score-info {
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    margin-bottom: 0.75rem;
}

.score-name,
.score-value {
    background-color: #303030;
    border-radius: 0.5rem;
    padding: 1rem;
}

.score-name {
    width: 9rem;
}

.score-value {
    width: 4rem;
}

#game-options-div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#about-div {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
}
